elasticsearch_host = "localhost"
elasticsearch_port = 9200
elasticsearch_user = "clarkminor@me.com"
elasticsearch_password = "t3VgH{#2!HbVc#"
consumer_key = "
Pyi44bVudZ7ayXzNpDgwfygI9"
consumer_secret = "AVy8tljg101CZ3zET3lADjC6tZlApV5CpC7bOednPfaxtvKDQl"
access_token = "946257865185968128-W7KQm6gXU5VZ4SbiLpOtCaWCtBQXP2p"
access_token_secret = "0kz2H9eHNLu9OflYOxnvGoC8D1OUfFC4h4c7FatT4OhaF"
nltk_tokens_required = ("neuralink", "solar", "tesla", "@tesla", "#tesla", "tesla", "tsla", "#tsla", "elonmusk", "elon", "musk", "spacex", "starlink")
nltk_min_tokens = 1
nltk_tokens_ignored = ("win", "giveaway")
twitter_feeds = ["@elonmusk", "@cnbc", "@benzinga", "@stockwits",
                 "@Newsweek", "@WashingtonPost", "@breakoutstocks", "@bespokeinvest",
                 "@WSJMarkets", "@stephanie_link", "@nytimesbusiness", "@IBDinvestors",
                 "@WSJDealJournal", "@jimcramer", "@TheStalwart", "@TruthGundlach",
                 "@Carl_C_Icahn", "@ReformedBroker", "@bespokeinvest", "@stlouisfed",
                 "@muddywatersre", "@mcuban", "@AswathDamodaran", "@elerianm",
                 "@MorganStanley", "@ianbremmer", "@GoldmanSachs", "@Wu_Tang_Finance",
                 "@Schuldensuehner", "@NorthmanTrader", "@Frances_Coppola", "@bySamRo",
                 "@BuzzFeed","@nytimes"]
stocksight_token = ""
